#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #d8bfd8; /* Light Purple */
    color: #000; /* Black */
    border: 1px solid #00FFFF; /* Gold */
    padding: 10px;
}

a {
    color: #ff69b4; /* Hot pink */
    text-decoration: none;
}

a:hover {
    color: #800080; /* Purple */
}

a:visited {
    color: #000; /* Black */
}